:root {
    --dark: #103053;
    --white: white;
    --orange: #ea4200;
    --blue: #00a7ea;
  }
  body {
    background-color: var(--dark);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
  }
  /*.heade {
    background-color: var(--dark);
    max-width: 1020px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 20px;
    position: relative;
  }*/
  .background {
    background-image: url(../image/background_readmore.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 20px;
  
  }
  /*.nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    text-transform: uppercase;
  }*/
  .nav-itam {
    margin-left: 10px;
}

.nav-link {
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase; 
    transition: .2s ease color;
}
.nav-link:hover {
    color: var(--blue);
}
.nav-item--register {
    font-weight: 700;
    text-transform: none;
    font-size: 14px;
}
.nav-item--register {
    background-color: var(--orange);
    padding: 12px 35px;
    border-radius: 30px;
    transition: .2s ease color;
}
.nav-item--register:hover {
    color: var(--white);
    background-color: var(--blue);
}
.baner {
    padding-bottom: 63px;
}
  .wrapper {
    max-width: 1020px;
      padding-right: 15px;
      padding-left: 15px;
      margin: 0 auto;
  }
  .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
  }
  .viy {
    flex-grow: 1;
    max-width: 100%;
    max-height: 580px;
  }
  .tittle {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 8.5px;
    text-align: center;
    font-family: 'Calistoga', cursive;
    text-transform: uppercase;  
    line-height: 1.3;
  }
  .tittle2 {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 8.5px;
    text-align: center;
    font-family: 'Calistoga', cursive;
    text-transform: uppercase;  
    line-height: 1.3;
    margin-top: -30px;
  }
  .page-description {
    padding-bottom: 10px;
  }
  .description {
    font-size: 18px;
    line-height: 1.3;
  }
  .page-list {
      padding: 0;
  }
  .page-list__item {
   list-style-type: none;
}
  .page-link_s {
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
  .page-link_setting {
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    
  }
  .page-link_set {
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
  }
  .page-list {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .page-list__item {
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}
/*.icon {
  vertical-align: middle;
  padding-bottom: 2px;
  padding-left: 3px;
}*/
  .page-list__item:first-child {
    margin-left: 0;
}
.page-link_s {
    background-color: var(--orange);
    padding: 12px 40px;
    border-radius: 30px;
    transition: .2s ease color;
 }
 .page-link_set {
  background-color: #2081E2;
  padding: 12px 26px;
  border-radius: 30px;
  transition: .2s ease color;
}
 .page-link_setting {
  background: linear-gradient(127.48deg, #172DEE -32.21%, #EE17A4 71.7%);
  padding: 13px 20px;
  border-radius: 30px;
  transition: .2s ease color;
 }
 /*.page-link_s:hover {
  color: var(--white);
  background-color: var(--blue);
}
.page-link_set:hover {
  color: var(--white);
  background-color: #2081E2;
}
.page-link_setting:hover {
  color: var(--white);
  
}*/
  
  
  
  
  
  
  
  
  
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1020px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
  .footer-text {
    font-size: 14px;
  }
  .footer-list__item {
    margin-left: 32px;
  }
  .footer-list__item:first-child {
    margin-left: 0;
  }
  .soon {
    position: fixed;
    z-index: 8;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
  }
  .soon-area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .soon:target {
    opacity: 1;
    visibility: visible;
  }
  .soon:target .soon-content {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  .soon-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
  }
  .soon-content {
    background-color: var(--orange);
    color: var(--white);
    max-width: 500px;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    transform: translate(0px, -100%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  .soon-text {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 8.5px;
    font-family: 'Calistoga', cursive;
    text-transform: uppercase;  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .soon-discription {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding-top: 10px;
  }
  .soon-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    text-decoration: none;
    color: var(--white);
  }